@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Urbanist&display=swap');


html,
body {
    padding: 0;
    margin: 0;

    font-family: 'Nunito', sans-serif;
    font-family: 'Urbanist', sans-serif;
    background-color: #292F3F;
    color: #FFFFFF;

}

::-webkit-scrollbar{
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: #292F3F;
        /* #292F3F */
    }
}